Doctype 
    html
        head
            meta(charset UTF-8)
            title Random website
        body
            h1#myheading This is a pug template
            p.firstParagraph I love this template!!!
            form(name="Testing_stuff" method="post")
                input(type="text" name="pwd" placeholder="Random stuff")
                button(id="testBTN" type="submit" style="width: 25px; height: 15px")
            a(href="/login") Login to the site