Doctype 
    html
        head
            meta(charset UTF-8)
            title Login
        body
            h1#myheading Login to the site
            form(name="Login_boxes" method="post")
                p
                    | Username: 
                    input(type="text" name="username" placeholder="Username")
                p
                    | Password: 
                    input(type="password" name="password" placeholder="Password")
                button(type="submit") Login
            a(href="/") Go back to the home page